<div class="card">
  <div class="card-body">
    <div *ngIf="messages?.length === 0">
      <p>No messages yet... say hi my using the message box below</p>
    </div>

    <ul class="chat">
      <li class="d-block" *ngFor="let message of messages">
        <!-- to them -->
        <div *ngIf="message.senderId == recipientId">
          <span class="chat-img float-left d-block mr-2">
            <img src="{{message.senderPhotoUrl}}" alt="{{message.senderKnownAs}}" class="rounded-circle">
            <strong class="primary-font mr-2 d-block">{{message.senderKnownAs}}</strong>
          </span>
          
          <div class="chat-body">
            <div class="header">
              <small class="text-muted">
                <i class="fa fa-clock-o"></i>
                <span class="ml-1">{{message.messageSent | timeAgo}}</span>
              </small>
            </div>
            <p class="d-inline text-justify">{{message.content}}</p>

          </div>
        </div>
        
        <!-- to me -->
        <div *ngIf="message.senderId != recipientId">
          <span class="chat-img float-right d-block ml-2">
            <img src="{{message.senderPhotoUrl}}" alt="{{message.senderKnownAs}}" class="rounded-circle">
            <strong class="primary-font ml-2 d-block">{{message.senderKnownAs}}</strong>
          </span>
          
          <div class="chat-body">
            <div class="header">
              <small class="text-muted">
                <i class="fa fa-clock-o"></i>
                <span class="ml-1">{{message.messageSent | timeAgo}}</span>
                <span *ngIf="!message.isRead" class="text-danger">(unread)</span>
                <span *ngIf="message.isRead" class="text-success">(Read) {{message.dateRead | timeAgo}}</span>
              </small>
            </div>

            <p class="d-inline text-justify">{{message.content}}</p>
          </div>
        </div>
        
      </li>
    </ul>
  </div>

  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">  
      <div class="input-group">
        <input 
          type="text"
          [(ngModel)]="newMessage.content"
          name="content" 
          required
          class="form-control input-sm" 
          placeholder="send a private messsage">
        <div class="input-group-append">
          <button class="btn btn-primary" [disabled]="!messageForm.valid">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
